extends ../layout
block content
	header.edge
		div#hdr-box
			span#nav-category Building Blocks
			span#nav-topic Javascript 101
	article#tutorial
		h1 Why learn javascript?
		p.content.
			Javascript is the functional language of the web.
			Just as HTML is the structure elements on a web page and CSS styles elements of the webpage, javascript functions on elements of a webpage.
