extends layout
block content
	section#about
		p.content Hi I'm 
			a(href='https://www.facebook.com/dom.parise',target='_blank') Dom.
		p.content I like 
			a(href='https://github.com/dparise',target='_blank') coding.
		p.content And other 
			a(href='https://twitter.com/primo_parise',target='_blank') things.
	section#tutorials
		p.content Learn from me.. I've got more coming soon...
	section#projects
		p.content I do things.. More here too in a bit...