extends layout
block content
	section#about
		p.content Hi I'm 
			a(href='https://www.facebook.com/dom.parise') Dom.
		p.content I like 
			a(href='https://github.com/dparise') coding.
	section#tutorials
		p.content Learn from me.
	section#projects
		p.content I do things.