extends layout
block content
	section#about
		p.content Hi I'm 
			a(href='https://www.facebook.com/dom.parise') Dom.
		p.content I like 
			a(href='https://github.com/dparise') coding.
		p.content And other 
			a(href='https://twitter.com/primo_parise') things.
	section#tutorials
		p.content Learn from me.. I've got more coming soon...
	section#projects
		p.content I do things.. More soon here too...