html
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1')
		title dom parise
		include styles
	body
		header.edge
			div#hdr-box
				span#nav-about.nav.navd ABOUT
				span#nav-tut.nav TUTORIALS
				span#nav-proj.nav PROJECTS
		article
			block content
		footer.edge
			p sup
	include scripts