html
	head
		title d o m p a r i s e
		include styles
	body#bdy
		header.edge
			span#nav-about.nav.navd ABOUT
			span#nav-tut.nav TUTORIALS
			span#nav-proj.nav PROJECTS
		article
			block content
		footer.edge
			p sup
	include scripts