/*
Kuler theme:
	red-orange: B26000;
	*orange: FF9923;
	orange: FF8900;
	darkblue: 007CB2;
	*lightblue: 00B2FF;
*/
@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../lib/Latin-Modern-Sans/lmsans10-regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../lib/Latin-Modern-Sans/lmsans10-oblique.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../lib/Latin-Modern-Sans/lmsans10-bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../lib/Latin-Modern-Sans/lmsans10-boldoblique.otf');
    font-weight: bold;
    font-style: italic;
}

body {
	font-family: 'Latin Modern Sans',"Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	margin: 0;
	background-color: #FFFFFF;
}
header {
	width: 100%;
	height: 12.5%;
	color: #00B2FF;
}

section {
	position: absolute;
	opacity: 0;
	width: 100%;
}

.edge {
	background-color: #00B2FF;
	opacity: 0;
}

.nav {
	position: absolute;	
	opacity: 0;
	font-weight: bold;
	font-size: 110%;
	position: relative;
	margin-left: 5%;
	top:20%;
}
.nav:hover {
	cursor: pointer;
}
.navd {
	border-bottom: 4px solid #FFFFFF;
}

.content {
	margin: auto;
	padding: 2.5%;
	width: 80%;
	margin-top: 5%;
	border-radius: 15px;
	background-color: #EAEAEA;
	border-bottom: 1px solid #FFF;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2) inset, 0 0 20px rgba(0,0,0,0.1) inset;
} 

.content a {
	text-decoration: none;
	color: #000000;
}

footer {
	position: fixed;
	top: 97.5%;
	height: 2.5%;
	width: 100%;
}
