.edge {
	background-color: #00B2FF;
	opacity: 0;
}

#hdr-box {
	position: relative;
	margin-left: 0;
	margin-right: 55%;
	top: 20%;
	bottom: 5%;
	padding-left: 2.5%;
}

.nav {
	opacity: 0;
	font-weight: bold;
	font-size: 110%;
	margin-left: 5%;
	top: 20%;
}
.nav:hover {
	cursor: pointer;
}
.navd {
	border-bottom: 4px solid #FFFFFF;
}

/* smaller browser */
@media (max-width:1200px){
	#hdr-box {
		margin: auto;
		text-align: center;
		padding: 0;
	}
	.nav {
		margin-left: 2.5%;
		margin-right: 2.5%;
		font-size: 100%;
	}
} /* super shrunk */
@media (max-width: 500px) {
	.nav {
		margin-left: 1%;
		margin-right: 1%;
		font-size: 75%;
	}
}

.content {
	margin-left: 10%;
	margin-right: 10%;
	padding: 2.5%;
	margin-top: 2.5%;
	background-color: #FFFFFF;
}

#about .content {
	margin-left: 10%;
	margin-right: 10%;
	padding: 2.5%;
	margin-top: 10%;
	background-color: #FFFFFF;
} 

@media (min-width: 1200px) {
	#about div {
		height: 100%;
		width: 50%;
		position: fixed;
	}
	#abt-left {}
	#abt-right {
		left: 50%;
	}
}




/* smaller browser */
@media (max-width:1200px){
	#abt-left {
		display: none;
	}
}
@media (max-width: 500px) {
	section {
		margin-top: 5%;
	}
}

/* outdented */
.content3 {
	margin: auto;
	padding: 2.5%;
	width: 80%;
	margin-top: 5%;
	border-radius: 15px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #FFF;
	box-shadow: 0 10px 5px rgba(0,0,0,0.35), 0 0 20px rgba(0,0,0,0.1) ;
} 

.content.orng {
	border: 1px solid rgba(255,148,0,0.75);
}

