.edge {
	background-color: #007CB2;
	opacity: 0;
}

#hdr-box {
	position: relative;
	margin-left: 0;
	margin-right: 55%;
	top: 20%;
	bottom: 5%;
	padding-left: 2.5%;
}

.nav {
	/*position: absolute;*/
	opacity: 0;
	font-weight: bold;
	font-size: 110%;
	margin-left: 5%;
	top: 20%;
}
.nav:hover {
	cursor: pointer;
}
.navd {
	border-bottom: 4px solid #FF9923;
}

/*#nav-about {
	margin-left: 5%;
}
#nav-tutorials {
	margin-left: 25%;
}
#nav-projects {
	margin-left: 55%;
}*/

/* smaller browser */
@media (max-width:1200px){
	#hdr-box {
		margin: auto;
		text-align: center;
		padding: 0;
	}
	.nav {
		margin-left: 2.5%;
		margin-right: 2.5%;
		font-size: 100%;
	}
} /* super shrunk */
@media (max-width: 500px) {
	.nav {
		margin-left: 1%;
		margin-right: 1%;
		font-size: 75%;
	}
}

.content {
	margin-left: 10%;
	margin-right: 10%;
	padding: 2.5%;
	margin-top: 2.5%;
	box-shadow: 0 2.5px 5px rgba(0,0,0,0.35) inset, 0 0 10px rgba(0,0,0,0.1) inset;
}

#about .content {
	margin-left: 10%;
	margin-right: 10%;
	padding: 2.5%;
	margin-top: 10%;
	box-shadow: none;
} 

@media (min-width: 1200px) {
	#about div {
		position: fixed;
	}
	#abt-left {
		width: 40%;
		padding: 5%;
		left: 0%;
		height: 65%;
	}
	#abt-right {
		left: 50%;
		width: 50%;
	}
}




/* smaller browser */
@media (max-width:1200px){
	#abt-left {
		display: none;
	}
}
@media (max-width: 500px) {
	section {
		margin-top: 5%;
	}
}

/* outdented */
.content3 {
	margin: auto;
	padding: 2.5%;
	width: 80%;
	margin-top: 5%;
	border-radius: 15px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #FFF;
	box-shadow: 0 10px 5px rgba(0,0,0,0.35), 0 0 20px rgba(0,0,0,0.1) ;
} 

.content.orng {
	border: 1px solid rgba(255,148,0,0.75);
}

#box {
	width: 500px;
	height: 400px;
}

#box span {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

#prof_pic {
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
	width: 190px;
	height: 390px;
}

#box span p {
	margin-left: 5%;
	margin-right: 5%;
}

#box #domcontent p {
	margin-left: 45%;
}

#ktpWallpaper {
	position: absolute;
	opacity: 0;
	width: 500px;
	height: 400px;
}


/********** TUTORIALS SECTION **********/

#tut-menu {
	width: 100%;
	height: 10%;
	margin-top: 4%;
	text-align: center;
}

#tut-menu span {
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px;
}


