@font-face {
	font-family: 'Latin Modern Sans';
	src: url('../lib/Latin-Modern-Sans/lmsans10-regular.otf');
}
body {
	font-family: 'Latin Modern Sans',"Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	margin: 0;
	background-color: #F0F0F0;
}
#hdr {
	position: fixed;
	width: 100%;
	height: 12.5%;
	opacity: 0;
	background-color: #F0F0F0; 
	border-bottom: 1px solid #F0F0F0;
}
.nav {
	position: relative;
	margin-left: 5%;
	top:20%;
}
.nav:hover {
	border-bottom: 2px solid black;
	cursor: pointer;
}
.navd {
	border-bottom: 2px solid black;
}
#main {
	overflow: auto;
}

section {
	margin-top: 6%;
}
