body {
	font-size: 100%;
}

header {
	height: 7.5%;
}

.nav {
	font-weight: bold;
	font-size: 110%;
	position: relative;
	margin-left: 5%;
	top:20%;
}

.nav:hover {
	cursor: pointer;
}
.navd {
	border-bottom: 4px solid #FFFFFF;
}

.content {
	background-color: #FFFFFF;
	margin: auto;
	width: 85%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
} 


footer {
	top: 97.5%;
	height: 2.5%;
	width: 100%;
}

.edge {
	background-color: #007CB2;
}

#title {
	text-align: center;
}

.content div {
	margin: auto;
}

.code {
	width: 50%;
	background-color: #E0E0E0;
	padding: 10px 10px 10px 40px;
	font: 'Consolas';
	white-space: pre;
}

::-webkit-scrollbar{
	width:0.7em;
	height:0.7em;
}

::-webkit-scrollbar-track{
	background:#FFFFFF;
}

::-webkit-scrollbar-thumb{
	background:#FF9923;
}
