extends layout
block content
	section#tutorial
		h1 Why learn javascript?
		p.content.
			Javascript is the functional language of the web.
			Just as HTML is the structure elements on a web page and CSS styles elements of the webpage, javascript functions on elements of a webpage.
